* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: blue;
    width: 15vw;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
}

.sidebar nav {
    padding: 45px;
    height: 100vh;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 32px 0;

}

.main {
    background-color: orange;
    width: 85vw;
}

.container {
    display: flex;
}

.infoContainer {
    background-color: cyan;
    height: 75vh;
    width: 65vw;
    margin: 150px auto;
    display: flex;
}